/****************** ID selectors**********************/
#title {
  background-color: #f06c00;
}

/************** Element selectors*********************/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  font-style: italic;
}

/****************** Class selectors******************/
.phone {
  border: none;
  background-color: #ff990100;
  padding: 0px;
  transform: rotate(20deg);
}

.container-fluid {
  padding: 3% 6%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  color: white;
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

.google-play-icon {
  padding: 5px;
}

.apple-store {
  padding: 5px;
}

.download-button {
  margin: 5% 3% 5% 0;
}
