@media (max-width: 966px) {
  .phone {
    transform: rotate(25deg);
  }

  h1 {
    text-align: center;
  }

  .row {
    text-align: center;
  }
}

/*********** generic class selectors *************************/

.container-fluid {
  padding: 4% 8%;
}

/*----------title section--------*/
/****************** ID selectors**********************/
#title {
  background-color: #f06c00;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/****************** Class selectors******************/
.title-h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  font-style: italic;
}

.phone {
  background-color: #ff990100;
  position: relative;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: white;
  padding: 0;
}

.google-play-icon,
.apple-store {
  padding: 5px;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/*------------------------features section-------------------------------*/

/*----id selectors-----*/
#features {
  background-color: white;
  position: relative;
}

/*----class selectors-----*/
.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.feature-p {
  color: #8f8f8f;
}

.circle-check {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
  filter: invert(9%) sepia(100%) saturate(7154%) hue-rotate(239deg)
    brightness(101%) contrast(120%);
}

.map-location {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
  filter: invert(40%) sepia(48%) saturate(3124%) hue-rotate(115deg)
    brightness(95%) contrast(101%);
}

.coins {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
  filter: invert(74%) sepia(53%) saturate(1673%) hue-rotate(3deg)
    brightness(111%) contrast(101%);
}

.circle-check:hover,
.map-location:hover,
.coins:hover {
  filter: invert(52%) sepia(26%) saturate(6568%) hue-rotate(2deg)
    brightness(95%) contrast(101%);
}

/************************Testimonial Section***********************************/

/*-----------Id selectors--------------------*/

#testimonials {
  text-align: center;
  background-color: #f06c00;
  color: white;
}

/*------------class selectors-----------------*/

.testimonials-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
  margin: auto;
}

.user-profile-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

/*************************press section**************************/

/*----------ID selector--------------------*/

#press {
  background-color: #f06c00;
  text-align: center;
  padding-bottom: 3%;
}

/*----------class selector----------------*/

.press-logo {
  width: 15%;
  margin: 20px 20px 40px;
}

/*********************pricing section***********************************/

/*-----------ID selector-----------*/

#pricing {
  text-align: center;
}

/*---------class selectors-----------*/
.pricing-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.pricing-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.pricing-column {
  padding: 3% 2%;
}

/*********************cta section**************************/
/*------------id selectors--------------------*/
#cta {
  background-color: #f06c00;
  text-align: center;
}

/*-------------class selectors------------------------*/
.cta-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 4rem;
  padding: 6% 8%;
  text-align: center;
}

.cta-btn {
  margin: 5% 3% 5% 0;
  font-family: "Ubuntu", sans-serif;
}

/*********************footer section**************************/
/*------------id selectors--------------------*/
#footer {
  background-color: white;
  text-align: center;
  color: #8f8f8f;
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
}
/*-------------element selectors------------------------*/

footer img {
  margin: 3px;
}

/*-------------class selectors------------------------*/

.social-icon {
  height: 30px;
  width: 30px;
  margin: 20px 10px;
}

.copyright-p {
  margin-bottom: 20px;
}
