/*----------title section--------*/
/****************** ID selectors**********************/
#title {
  background-color: #f06c00;
}

/************** Element selectors*********************/
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.5rem;
  font-weight: 900;
  line-height: 1.5;
  font-style: italic;
}

/****************** Class selectors******************/

.phone {
  border: none;
  background-color: #ff990100;
  transform: rotate(20deg);
  position: absolute;
  top: 20%;
}

.container-fluid {
  padding: 3% 6%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
  color: white;
  padding: 0;
}

.google-play-icon {
  padding: 5px;
}

.apple-store {
  padding: 5px;
}

.download-button {
  margin: 5% 3% 5% 0;
}

/*------------------------features section-------------------------------*/

/*----id selectors-----*/
#features {
  padding: 4% 8%;
  background-color: white;
  position: relative;
}

/*----class selectors-----*/
.feature-box {
  text-align: center;
  padding: 5%;
}

.feature-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.feature-p {
  color: #8f8f8f;
}

.circle-check {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
  filter: invert(9%) sepia(100%) saturate(7154%) hue-rotate(239deg)
    brightness(101%) contrast(120%);
}

.map-location {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
  filter: invert(40%) sepia(48%) saturate(3124%) hue-rotate(115deg)
    brightness(95%) contrast(101%);
}

.coins {
  width: 64px;
  height: 64px;
  margin-bottom: 1rem;
  filter: invert(74%) sepia(53%) saturate(1673%) hue-rotate(3deg)
    brightness(111%) contrast(101%);
}

.circle-check:hover {
  filter: invert(52%) sepia(26%) saturate(6568%) hue-rotate(2deg)
    brightness(95%) contrast(101%);
}

.map-location:hover {
  filter: invert(52%) sepia(26%) saturate(6568%) hue-rotate(2deg)
    brightness(95%) contrast(101%);
}

.coins:hover {
  filter: invert(52%) sepia(26%) saturate(6568%) hue-rotate(2deg)
    brightness(95%) contrast(101%);
}

/************************Testimonial Section***********************************/

/*-----------Id selectors--------------------*/

#testimonials {
  text-align: center;
  background-color: #f06c00;
  color: white;
}

/*------------class selectors-----------------*/

.testimonials-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
  margin: auto;
}

.user-profile-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 4% 8%;
}

/*************************press section**************************/

/*----------ID selector--------------------*/

#press {
  background-color: #f06c00;
  text-align: center;
  padding-bottom: 3%;
}

/*----------class selector----------------*/

.press-logo {
  width: 15%;
  margin: 20px 20px 40px;
}

/*********************pricing section***********************************/

/*-----------ID selector-----------*/

#pricing {
  padding: 4% 8%;
  text-align: center;
}

/*---------class selectors-----------*/
.pricing-h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.pricing-h3 {
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
}

.pricing-column {
  padding: 3% 2%;
}
